.pt-6
{
    padding-top: 6px;
}

.pt-10
{
    padding-top: 10px;
}

.pt-15{
    padding-top: 15px;
}

.pt-20
{
    padding-top: 20px;
}

.pt-30
{
    padding-top: 30px;
}

.pt-40
{
    padding-top: 40px;
}

.pt-50
{
    padding-top: 50px;
}

.pt-60
{
    padding-top: 60px;
}

.pt-70
{
    padding-top: 70px;
}

.pt-80
{
    padding-top: 80px;
}

.pt-90
{
    padding-top: 90px;
}

.pt-100
{
    padding-top: 100px;
}



.pl-10
{
    padding-left: 10px;
}

.pl-15
{
    padding-left: 15px;
}

.pl-20
{
    padding-left: 20px;
}

.pl-30
{
    padding-left: 30px;
}

.pl-40
{
    padding-left: 40px;
}

.pl-50
{
    padding-left: 50px;
}

.pl-60
{
    padding-left: 60px;
}

.pl-70
{
    padding-left: 70px;
}




.pr-10
{
    padding-right: 10px;
}

.pr-20
{
    padding-right: 20px;
}

.pr-15
{
    padding-right: 15px;
}

.pr-30
{
    padding-right: 30px;
}

.pr-40
{
    padding-right: 40px;
}

.pr-50
{
    padding-right: 50px;
}

.pr-60
{
    padding-right: 60px;
}

.pr-70
{
    padding-right: 70px;
}



.p-5
{
    padding: 5px;
}

.p-10
{
    padding: 10px;
}

.p-20
{
    padding: 20px;
}

.p-30
{
    padding: 30px;
}

.p-40
{
    padding: 40px;
}

.p-50
{
    padding: 50px;
}

.p-60
{
    padding: 60px;
}

.p-70
{
    padding: 70px;
}




.pb-6
{
    padding-bottom: 6px;
}

.pb-10
{
    padding-bottom: 10px;
}

.pb-20
{
    padding-bottom: 20px;
}

.pb-30
{
    padding-bottom: 30px;
}

.pb-40
{
    padding-bottom: 40px;
}

.pb-50
{
    padding-bottom: 50px;
}

.pb-60
{
    padding-bottom: 60px;
}

.pb-70
{
    padding-bottom: 70px;
}


.mt-30
{
    margin-top: 30px;
}

.mt-20
{
    margin-top: 20px;
}

.mt-10
{
    margin-top: 10px;
}

.m-0
{
    margin:0px;
}

.mt-6
{
    margin-top: 6px;
}